---
title: Home
layout: default
---

<!-- ABOUT section -->

<h2 class="post-title">
    <a href="{{ site.baseurl }}">
        About
    </a>
</h2>

<p>
    I am a second year D.Phil. (Ph.D.) candidate in the <a href="http://www.robots.ox.ac.uk/~parg/">Machine Learning Research Group</a>
    at the <a href="http://www.ox.ac.uk/">University of Oxford</a>, supervised by <a href="http://www.robots.ox.ac.uk/~mosb/">Michael A Osborne</a>.<br />
    I am funded through a <b style="color:#002147";>Oxford -</b> <a href="https://deepmind.com/">Google DeepMind</a> Graduate Scholarship.
</p>
<p>
    My research interests within Machine Learning and Artificial Intelligence are broad and include topics such as Bayesian frameworks for Deep Learning, Bayesian Neural Networks and Gaussian Processes.<br />
    Furthermore, lately I have been looking at the intersections of Machine Learning, Physics and High Performance Computing.
</p>

<p>
    My CV is available for <a href="assets/pdf/gabriele_abbati_resume.pdf">download</a>. <br />
</p>


<!-- NEWS section -->

<h3>
    News
</h3>

<ul>
    <li><b style="color:#002147";>March 2018</b>: I'm happy to confirm that for the next 6 months I'll be a visiting Ph.D. student under the supervision of <a href="http://is.tuebingen.mpg.de/person/bs">Bernhard Schölkopf</a> at the <a href="https://is.mpg.de/">Max-Planck Institute for Intelligent Systems</a> in Tübingen<br><br></li>
    <li><b style="color:#002147";>January 2018</b>: I'll present our AISTATS work "AdaGeo: Adaptive Geometric Learning for Optimization and Sampling" at the <a href="https://www.eventbrite.co.uk/e/afternoon-meeting-on-bayesian-computation-registration-39248617672">Afternoon Meeting on Bayesian Computation</a> at the University of Reading<br><br></li>
    <li><b style="color:#002147";>December 2017</b>: our paper "AdaGeo: Adaptive Geometric Learning for Optimization and Sampling" was accepted at the <a href="http://www.aistats.org/">21st International Conference on Artificial Intelligence and Statistics (AISTATS) 2018</a> <br><br></li>
    <li><b style="color:#002147";>September 2017</b>: for the next two months I'll be working as a machine learning research intern at <a href="http://mindfoundry.ai/">Mind Foundry</a> <br><br></li>
    <li><b style="color:#002147";>September 2017</b>: I'll be presenting the poster for our work "<b style="color:#002147";>MRI-based Surgical Planning for Lumbar Spinal Stenosis</b>" at <a href="http://www.miccai.org/">MICCAI</a> 2017, in Québec City <br><br></li>
    <li><b style="color:#002147";>June 2017</b>: I got selected to be part of the 80 researchers in Europe partecipating to the exciting 2017 <b style="color:#002147";>Google Machine Learning Summit</b> at <a href="https://research.google.com/teams/gre/">Google Research Europe</a> in Zürich</li>
</ul>



<!-- CONTACT section -->

<h3>
  Contact
</h3>

<p>
    <a href="mailto:gabb@robots.ox.ac.uk"> gabb@robots.ox.ac.uk </a>
</p>

<p>
    <a href="https://www.google.co.uk/maps/place/Eagle+House,+Walton+Well+Rd,+Oxford+OX2+6ED/@51.7620067,-1.2720287,17z/data=!3m1!4b1!4m5!3m4!1s0x4876c41fedb8271b:0x60584c576951a6bb!8m2!3d51.7620175!4d-1.2698484"> Eagle House</a><br />
    Walton Well Road<br />
    OX2 6ED<br />
    Oxford<br />
    United Kingdom<br />
</p>



<!-- ABOUT THIS WEBSITE section -->

<h3>
  About this website
</h3>

<p>
    This website was built using <a href="https://jekyllrb.com/">jekyll</a>, <a href="https://github.com/inukshuk/jekyll-scholar">jekyll scholar</a>
    and the <a href="https://github.com/poole/hyde">Hyde</a> theme. Great and free inspiration was provided by
    <a href="http://www.robots.ox.ac.uk/~mosb/">mosb</a> and <a href="https://github.com/jwvdm/robots-homepage">jwvdm</a>.
</p>


<!--

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
